/* element selectors by page order, top down */

body {
	background-color: black;
	background-image: 
		radial-gradient(circle at top left, white, transparent 13%),
		radial-gradient(circle at top right, red, transparent 13%),
		radial-gradient(circle at bottom left, blue, transparent 13%),
		radial-gradient(circle at bottom right, green, transparent 13%)
		;
}

header {
	color: whitesmoke;
	text-align: center;
	width: 100%;
}

main {
	flex-wrap: wrap;
	width: 100%;
}

article {
	flex-wrap: wrap;
	width: 49%;
}

p {
	/* border: 2px solid whitesmoke; */
	border-radius: 25px;
	color: aliceblue;
	font-size: 2em;
	margin: 5%;
	text-align: center;
}

p:hover {
	cursor: pointer;
}

h1 {
	font-size: 3em;
}

h2 {
	color: blanchedalmond;
}
/* img {
	margin: 5% 11%;
	width: 45%;
} */

button {
	height: 50px;
	width: 100%;
}

hr {
	position: relative;
	width: 8px;
	right: 5px;
	bottom: 10px;
}

/* class selectors by page order, top down*/

.flex {
	display: flex;
}

.show-directions-button,
.show-directions-button2 {
	display: none;
	height: 35px;
	margin: 10px auto;
	width: fit-content;
}

.power-toughness-image {
	padding: 0px 10px;
	width: 10%;
}

	/* selectors for modal pop up */
.modal-container {
	background: whitesmoke;
	border: 1px solid red;
	display: none;
	justify-content: center;
	height: 73%;
	padding: 5px;
	position: fixed;
	top: 14%;
	left: 16%;
	width: 71%;
	z-index: 0;
}

.modal-text {
	color: black;
	height: fit-content;
	justify-content: center;
	margin: 5px auto;
	width: 100%;
}

.war-count-heading {
	width: 37%;
}

.hide-modal-btn {
	border-radius: 5px;
	display: none;
	justify-content: center;
	height: 35px;
	width: 35px;
	position: fixed;
	top: 14%;
	left: 12%;
}

.hide-modal-btn:hover {
	cursor: pointer;
	border: 1px dotted purple;
}

#hide-image-id {
	height: 30px;
	width: 30px;
}

article.modal-img {
	display: none;
}

/* selectors for top section */
.p2-article {
	justify-content: flex-end;
}

.buttons-container {
	align-items: center;
	flex-wrap: wrap;
	width: 15%
}

.start-button:hover {
	border: 2px dotted purple;
	cursor: pointer;
}

.p1-back-img,
.p2-back-img {
	margin: 5% 11%;
	width: 45%;
}

/* .p1-deck-total-heading,
.p2-deck-total-heading {
	color: blanchedalmond;
} */

.p1Card-img,
.p2Card-img {
	margin: 5% 11%;
	width: 45%;
}

.bottom-section {
	justify-content: space-between;
	margin: 5%;
	width: 100%;
}

.p1-score-article {
	border-right: 2px solid whitesmoke;
}