/* element selectors by page order, top down */

body {
	background-color: black;
}

header {
	color: whitesmoke;
	text-align: center;
	width: 100%;
}

main {
	width: 100%;
}

article {
	flex-wrap: wrap;
	width: 49%;
}

img {
	margin: 5% 11%;
	width: 45%;
}

button {
	height: 50px;
	width: 100%;
}

h2 {
	color: whitesmoke;
}
/* class selectors by page order, top down*/

.flex {
	display: flex;
}

.p2-article {
	justify-content: flex-end;
}

.buttons-container {
	align-items: center;
  flex-wrap: wrap;
	width: 15%
}